* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

*,
*::before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  scroll-behavior: smooth; 
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}


/* --------------------------------------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;800&family=Roboto:wght@100;400&display=swap');

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}



/* -------------- header --------------- */



.header {
  padding: 0.6rem;
  width: 100%;
}

.header__row {
  width: 1100px;
  margin: 0 auto;
}

.burger-menu {
  position: relative;
  margin: 0 auto;
  width: 40px;
  height: 30px;
}

.burger-menu__open {
  opacity: 0;
  cursor: none;
}

.burger-icon img {
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.side-menu {
  background-color: #EE86A9;
  padding: 30px;
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.262);
  transition: left .3s ease;
  z-index: 5;
}

.side-menu li a {
  color: white;
}

.side-menu li {
  margin-bottom: 30px;
  font-size: 1.6rem;
  letter-spacing: .1rem;
}

.side-menu a:hover {
  text-decoration: underline;
}

.side-menu.open {
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.69);
  display: none;
  z-index: 0;
  transition: background-color .3s ease;
}

.overlay__active {
  overflow: hidden;
}

.open {
  display: block;
}


@media (max-width: 1200px) {

  .header {
    padding: 0.6rem;
    width: 900px;
    margin: 0 auto;
  }

  .header__row {
    width: 900px;
  }

  .burger-menu {
    width: 30px;
    height: 20px;
  }

  .burger-icon img {
    width: 45px;
    height: 35px;
  }

  .bar {
    height: 3px;
    background-color: palevioletred;
    margin: 4px 0;
  }

  .side-menu {
    padding: 20px;
    left: -250px;
    width: 250px;
  }

  .side-menu li {
    margin-bottom: 30px;
    font-size: 1.6rem;
    letter-spacing: .1rem;
  }
}


@media (max-width: 1000px) {

  .header {
    padding: 0.6rem;
    width: 800px;
    margin: 0 auto;
  }

  .header__row {
    width: 700px;
  }

  .burger-menu {
    width: 30px;
    height: 20px;
  }

  .burger-icon img {
    width: 40px;
    height: 30px;
  }

  .bar {
    height: 3px;
    background-color: palevioletred;
    margin: 4px 0;
  }

  .side-menu {
    padding: 20px;
    left: -250px;
    width: 250px;
  }

  .side-menu li {
    margin-bottom: 30px;
    font-size: 1.6rem;
    letter-spacing: .1rem;
  }
}


@media (max-width: 850px) {

  .header {
    padding: 0.6rem;
    width: 600px;
  }

  .header__row {
    width: 600px;
  }

  .burger-icon img {
    width: 50px;
    height: 40px;
  }

  .side-menu li {
    margin-bottom: 30px;
    font-size: 1.6rem;
    letter-spacing: .1rem;
  }
}


@media (max-width: 650px) {

  .header {
    padding: 0.6rem;
    width: 400px;
    margin: 0 auto;
  }

  .header__row {
    width: 400px;
  }

  .burger-menu {
    width: 30px;
    height: 20px;
  }

  .burger-icon img {
    width: 45px;
    height: 35px;
  }

  .bar {
    height: 3px;
    background-color: palevioletred;
    margin: 4px 0;
  }

  .side-menu {
    padding: 20px;
    left: -200px;
    width: 200px;
  }

  .side-menu li {
    margin-bottom: 30px;
    font-size: 1.6rem;
    letter-spacing: .1rem;
  }
}



/* --------------------- about us ----------------- */



.about-us__container {
  width: 1100px;
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: hidden;
}

.about-us__info__container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.about-us__title {
  width: 300px;
  font-size: 4rem;
  line-height: 55px;
  font-weight: 700;
}

.about-us__title span {
  z-index: -10;
  color: rgb(243, 147, 189);
}

.about-us__subtitle {
  text-transform: uppercase;
  line-height: 30px;
  margin: 30px 0;
  font-weight: 100;
  letter-spacing: .2rem;
  width: 500px;
  font-family: 'Roboto', sans-serif;
}

.about-us__text {
  text-align: justify;
  width: 500px;
  margin-bottom: 30px;
  font-size: 1.1rem;
  letter-spacing: .1rem;
  line-height: 25px;
}

.about-us__btn {
  text-transform: uppercase;
  padding: 20px 20px;
  width: 40%;
  background-color: rgb(243, 147, 189);
  color: white;
  font-size: 1.2rem;
  transition: all .2s ease;
}

.about-us__btn:hover {
  background-color: rgb(252, 130, 183);
  transform: scale(1.1);
}

.about-us__img img {
  background-size: cover;
  border-radius: 100%;
  width: 460px;
  height: 460px;
}

@media (max-width: 1200px) {

  .about-us__container {
    width: 900px;
    margin: 40px auto;
    width: 900px;
    height: 180%;
    display: flex;
    justify-content: space-between;
  }

  .about-us__info__container {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .about-us__title {
    width: 100%;
    font-size: 3rem;
    line-height: 60px;
  }

  .about-us__subtitle {
    width: 400px;
    font-size: 1.2rem;
  }

  .about-us__text {
    width: 400px;
    margin: 0;
    font-size: 1.1rem;
  }

  .about-us__btn {
    padding: 20px 30px;
    width: 60%;
    font-size: 1.2rem;
    margin: 30px 0;
  }

  .about-us__img img {
    width: 440px;
    height: 440px;
  }
}


@media (max-width: 1000px) {

  .about-us__container {
    width: 800px;
    margin: 40px auto;
    width: 800px;
    height: 180%;
    display: flex;
    justify-content: space-between;
  }

  .about-us__info__container {
    display: flex;
    flex-direction: column;
    width: 360px;
  }

  .about-us__title {
    width: 100%;
    font-size: 2.7rem;
    line-height: 60px;
    margin: 0;
  }

  .about-us__subtitle {
    width: 360px;
    font-size: 1.1rem;
    line-height: 23px;
    margin: 10px 0;
  }

  .about-us__text {
    width: 360px;
    margin: 0;
    font-size: 1rem;
  }

  .about-us__btn {
    padding: 20px 20px;
    width: 55%;
    font-size: 1rem;
    margin: 30px 0;
  }

  .about-us__img img {
    width: 370px;
    height: 370px;
  }
}


@media (max-width: 850px) {

  .about-us__container {
    margin: 30px auto;
    width: 600px;
    padding: 0px;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-us__info__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-us__title {
    margin-bottom: 25px;
    width: 100%;
    font-size: 3.7rem;
  }

  .about-us__subtitle {
    width: 600px;
    font-size: 1.3rem;
    margin: 20px 0 40px;
  }

  .about-us__text {
    width: 600px;
    margin: 0;
    font-size: 1.1rem;
  }

  .about-us__btn {
    padding: 20px;
    width: 40%;
    font-size: 1.3rem;
    margin: 60px auto;
  }

  .about-us__img img {
    width: 500px;
    height: 500px;
  }
}


@media (max-width: 650px) {
  .about-us__container {
    width: 400px;
    padding: 0px;
    margin: 40px auto;
    width: 400px;
    text-align: center;
    height: 170%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-us__info__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-us__title {
    width: 400px;
    font-size: 2.5rem;
    line-height: 50px;
  }

  .about-us__subtitle {
    width: 400px;
    font-size: 1.1rem;
    margin: 20px 0;
  }

  .about-us__text {
    width: 400px;
    margin: 0;
    font-size: 1rem;
  }

  .about-us__btn {
    padding: 20px;
    width: 40%;
    font-size: 1rem;
    margin: 30px auto;
  }

  .about-us__img img {
    width: 400px;
    height: 400px;
  }
}



/* -------------- design excellence ------------- */



.design-excellence {
  background-color: rgb(203, 155, 233);
}

.design-excellence__container {
  width: 1100px;
  margin: 0px auto;
  color: white;
  padding: 60px 0;
  overflow-x: hidden;
}

.design-excellence__title {
  font-weight: bold;
  font-size: 55px;
}

.design-excellence__text {
  margin-top: 30px;
  font-size: 1rem;
  letter-spacing: .1rem;
  line-height: 25px;
  width: 70%;
}

.design-excellence__btn {
  margin-top: 1.8rem;
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1rem;
  transition: all .2s ease;
}

.design-excellence__btn:hover {
  transform: scale(1.1);
}


@media (max-width: 1200px) {

  .design-excellence__container {
    width: 900px;
    padding: 50px 0px;
  }

  .design-excellence__title {
    font-weight: bold;
    font-size: 3rem;
  }

  .design-excellence__text {
    margin-top: 20px;
    width: 90%;
    font-size: 1.2rem;
  }
}


@media (max-width: 1000px) {

  .design-excellence__container {
    width: 800px;
    padding: 40px 0px;
  }

  .design-excellence__title {
    font-weight: bold;
    font-size: 2.3rem;
  }

  .design-excellence__text {
    margin-top: 20px;
    width: 90%;
    font-size: 1.1rem;
  }
}


@media (max-width:850px) {

  .design-excellence__container {
    width: 600px;
    padding: 50px 20px;
    text-align: center;
  }

  .design-excellence__title {
    font-weight: bold;
    font-size: 2.9rem;
  }

  .design-excellence__text {
    margin-top: 20px;
    font-size: 1.2rem;
    width: 100%;
  }
}


@media (max-width:650px) {

  .design-excellence__container {
    width: 400px;
    padding: 40px 20px;
    text-align: center;
  }

  .design-excellence__title {
    font-weight: bold;
    font-size: 2rem;
  }

  .design-excellence__text {
    margin-top: 20px;
    width: 100%;
  }
}



/* -------------------- sylabus ----------------- */



.syllabus {
  background-color: rgb(255, 240, 248);
  padding: 60px;
  overflow-x: hidden;
}

.syllabus-cards__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1100px;
  overflow-x: hidden;
}

.syllabus-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 545px;
  margin-bottom: 10px;
  background-color: white;
  padding: 20px;
}

.card-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: rgb(238, 134, 169);
}

.card-circle img {
  width: 45px;
  height: 45px;
}

.syllabus-card__content {
  padding: 20px;
  width: 400px;
}

.card__title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.card__text {
  font-size: 1rem;
  line-height: 24px;
}

.arrow-up {
  position: relative;
  cursor: pointer;
  font-size: 5rem;
  top: 650px;
  right: 10px;
  position: fixed;
  z-index: 2000;
  color: #251408;
  opacity: 0;
  transition: all .2s ease;
  }
  
  .arrow-up:hover {
    transform: translateY(-10px);
  }
  

@media (max-width: 1200px) {

  .syllabus {
    padding: 20px;
  }

  .syllabus-cards__row {
    margin: 50px auto;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .syllabus-card {
    display: flex;
    justify-content: space-evenly;
    width: 440px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .card-circle {
    width: 80px;
    height: 80px;
  }

  .syllabus-card__content {
    padding: 20px;
    width: 270px;
  }

  .card__title {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .card__text {
    font-size: 1rem;
    line-height: 22px;
  }
}


@media (max-width: 1000px) {

  .syllabus {
    padding: 20px;
  }

  .syllabus-cards__row {
    margin: 40px auto;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .syllabus-card {
    display: flex;
    justify-content: space-evenly;
    width: 390px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .card-circle {
    width: 60px;
    height: 60px;
  }

  .card-circle img {
    width: 40px;
    height: 40px;
  }

  .syllabus-card__content {
    padding: 20px;
    width: 270px;
  }

  .card__title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .card__text {
    font-size: 1rem;
    line-height: 22px;
  }
}


@media (max-width: 850px) {

  .syllabus {
    padding: 20px;
  }

  .syllabus-cards__row {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .syllabus-card {
    width: 500px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .card-circle {
    width: 100px;
    height: 100px;
  }

  .card-circle img {
    width: 60px;
    height: 60px;
  }

  .syllabus-card__content {
    padding: 20px;
    width: 300px;
  }

  .card__title {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .card__text {
    font-size: 1.1rem;
    line-height: 24px;
  }

  .arrow-up {
    display: none;
  }
}

@media (max-width: 650px) {

  .syllabus {
    padding: 20px;
  }

  .syllabus-cards__row {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .syllabus-card {
    width: 350px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .card-circle {
    width: 60px;
    height: 60px;
  }

  .card-circle img {
    width: 35px;
    height: 35px;
  }

  .syllabus-card__content {
    padding: 20px;
    width: 250px;
  }

  .card__title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .card__text {
    font-size: 1rem;
    line-height: 24px;
  }
}



/* ----------------- about company -------------------- */



.about-company__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  padding: 30px;
  margin: 60px auto;
  overflow-x: hidden;
}

.cakes-img__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.cakes-img__container img {
  margin: 20px;
  width: 220px;
  height: 220px;
  border-radius: 100%;
}

.about-company__info__container {
  margin-top: 30px;
  width: 500px;
}

.about-company__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.about-company__text {
  text-align: justify;
  line-height: 30px;
  font-size: 1.3rem;
}

.about-company__button {
  margin: 40px 0;
  background-color: rgb(238, 134, 169);
  letter-spacing: .1rem;
  color: white;
  text-transform: uppercase;
  padding: 20px 40px;
  transition: all .2s ease;
  font-size: 1.3rem;
}

.about-company__button:hover {
  background-color: rgb(203, 155, 233);
  transform: scale(1.1);
}


@media (max-width: 1200px) {

  .about-company__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 900px;
    padding: 0px;
  }

  .cakes-img__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .cakes-img__container img {
    margin: 20px;
    width: 180px;
    height: 180px;
  }

  .about-company__info__container {
    margin: 40px 0;
    width: 400px;
  }

  .about-company__title {
    width: 100%;
    font-size: 3rem;
  }

  .about-company__text {
    width: 450px;
    font-size: 1.2rem;
    line-height: 27px;
  }

  .about-company__button {
    margin: 20px auto;
    letter-spacing: .1rem;
    padding: 20px 30px;
  }
}


@media (max-width: 1000px) {

  .about-company__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 800px;
    padding: 0px;
  }

  .cakes-img__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cakes-img__container img {
    margin: 10px;
    width: 150px;
    height: 150px;
  }

  .about-company__info__container {
    margin: 40px 0px 40px 30px;
    width: 400px;
  }

  .about-company__title {
    width: 100%;
    font-size: 2rem;
  }

  .about-company__text {
    width: 400px;
    font-size: 1rem;
    line-height: 27px;
  }

  .about-company__button {
    margin: 20px auto;
    letter-spacing: .1rem;
    padding: 20px 30px;
  }
}


@media (max-width: 850px) {

  .about-company__container {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 10px;
  }

  .cakes-img__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .cakes-img__container img {
    margin: 10px;
    width: 200px;
    height: 200px;
  }

  .about-company__info__container {
    margin-top: 30px;
    width: 600px;
    text-align: center;
  }

  .about-company__title {
    width: 100%;
    margin-top: 40px;
    font-size: 3rem;
  }

  .about-company__text {
    width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    width: 600px;
    font-size: 1.4rem;
  }

  .about-company__button {
    margin: 40px auto 0px;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    padding: 30px 40px;
  }
}


@media (max-width: 650px) {

  .about-company__container {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    margin: 20px auto;
  }

  .cakes-img__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .cakes-img__container img {
    margin: 10px;
    width: 150px;
    height: 150px;
  }

  .about-company__info__container {
    width: 400px;
    text-align: center;
    margin: 0px
  }

  .about-company__title {
    width: 100%;
    font-size: 2.4rem;
  }

  .about-company__text {
    width: 400px;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 1.3rem;
  }

  .about-company__button {
    margin: 40px auto;
    letter-spacing: .1rem;
    padding: 20px 30px;
  }
}



/* ------------------- quote block ------------------ */



.quotes {
  background-color: rgb(238, 134, 169);
  padding: 60px;
  overflow-x: hidden;
  color: #000000;
}

.quote__container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
}

.quote__card {
  margin: 30px;
  padding: 30px;
  background-color: white;
  width: 46%;
  height: auto;
  margin: 20px;
  box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.31);
}

.quote__img {
  display: flex;
  justify-content: center;
}

.quote__img img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.quote__text {
  text-align: center;
  margin: 30px 0px;
  line-height: 35px;
  font-weight: bold;
  font-size: 1.4rem;
}

.quote__circle {
  margin: 0 auto;
  font-size: 4rem;
  color: #ffffff;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  padding: 25px;
  background-color: #7a7a7a;
}


@media (max-width: 1200px) {

  .quotes {
    padding: 10px;
  }

  .quote__container {
    width: 900px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .quote__card {
    padding: 30px;
    width: 430px;
    margin: 10px;
  }

  .quote__img img {
    width: 200px;
    height: 200px;
  }

  .quote__text {
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .quote__circle {
    margin: 0 auto;
    font-size: 4rem;
    width: 70px;
    height: 70px;
    padding: 20px;
  }
}

@media (max-width: 1000px) {
  .quotes {
    padding: 10px;
  }

  .quote__container {
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .quote__card {
    padding: 30px;
    width: 380px;
    margin: 10px;
  }

  .quote__img img {
    width: 200px;
    height: 200px;
  }

  .quote__text {
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .quote__circle {
    margin: 0 auto;
    font-size: 4rem;
    width: 70px;
    height: 70px;
    padding: 20px;
  }
}

@media (max-width: 850px) {
  .quotes {
    padding: 10px;
  }

  .quote__container {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .quote__card {
    padding: 50px;
    width: 590px;
    margin: 10px;
  }

  .quote__img img {
    width: 300px;
    height: 300px;
  }

  .quote__text {
    margin-bottom: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .quote__circle {
    margin: 0px auto;
    font-size: 5rem;
    width: 80px;
    height: 80px;
    padding: 20px;
  }
}

@media (max-width: 650px) {
  .quotes {
    padding: 10px;
  }

  .quote__container {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }

  .quote__card {
    padding: 20px;
    width: 380px;
    margin: 10px;
  }

  .quote__img img {

    width: 200px;
    height: 200px;
  }

  .quote__text {
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .quote__circle {
    margin: 0 auto;
    font-size: 5rem;
    width: 80px;
    height: 80px;
    padding: 20px;
  }
}



/* ------------------------ footer -------------------- */



.footer {
  padding: 30px 10px;
  background-color: rgb(255, 240, 248);
  overflow-y: hidden;
  min-height: 500px;
}

.footer__container {
  width: 1100px;
  margin: 60px auto;
}

.footer__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer__title span {
  color: rgb(243, 147, 189);
}

.username {
  height: 35px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.036);
  margin: 5px 0;
  padding: 5px;
}

.email {
  height: 35px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.036);
  margin: 5px 0;
  padding: 5px;
}

.message {
  max-width: 1100px;
  width: 1100px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.036);
  margin: 5px 0;
  padding: 5px;
}

.button {
  background-color: palevioletred;
  letter-spacing: .1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: white;
  height: 50px;
  width: 200px;
  cursor: pointer;
  transition: all .2s ease;
}

.button:hover {
  background-color: rgb(175, 133, 201);
}


@media (max-width: 1200px) {

  .footer {
    width: 100%;
  }

  .footer__container {
    width: 900px;
    margin: 40px auto;
  }

  .footer__title {
    font-size: 3rem;
    margin-bottom: 40px;
  }

  .username {
    height: 30px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
  }

  .email {
    height: 30px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
  }

  .message {
    max-width: 900px;
    width: 900px;
    margin: 5px 0;
    padding: 5px;
  }

  .button {
    font-size: 1.1rem;
    width: 100%;
    margin-top: 30px;
  }
}


@media (max-width: 1000px) {

  .footer {
    width: 100%;
  }

  .footer__container {
    width: 800px;
    margin: 40px auto;
  }

  .footer__title {
    font-size: 3rem;
    margin-bottom: 40px;
  }

  .username {
    height: 30px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
  }

  .email {
    height: 30px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
  }

  .message {
    max-width: 800px;
    width: 800px;
    margin: 5px 0;
    padding: 5px;
  }

  .button {
    font-size: 1.1rem;
    width: 100%;
    margin-top: 30px;
  }
}


@media (max-width: 850px) {

  .footer {
    width: 100%;
  }

  .footer__container {
    width: 600px;
    margin: 0 auto;
  }

  .footer__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .username {
    height: 30px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
  }

  .email {
    height: 30px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
  }

  .message {
    max-width: 600px;
    width: 600px;
    margin: 5px 0;
    padding: 5px;
  }

  .button {
    font-size: 1rem;
    width: 100%;
  }
}


@media (max-width: 650px) {

  .footer {
    width: 100%;
  }

  .footer__container {
    width: 400px;
    margin: 0 auto;
  }

  .footer__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .username {
    height: 40px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
  }

  .email {
    height: 40px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
  }

  .message {
    max-width: 400px;
    width: 400px;
    margin: 5px 0;
    padding: 5px;
  }

  button {
    font-size: 1.2rem;
    width: 100%;
  }
}